/* @font-face{
    font-family: "Century Gothic Bold";
    src: url("century.ttf") format("truetype");
} */

/* Header */

/* Header > logo */
.header{
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.14);
}
.logo{
    align-items: center;
    display: flex;
    justify-content: center;
}
.head{
    position: relative;
    margin: 0 20px;
}

.line{
    width: 700px;
    height: 2px;
    background: #333;
}
/* Header > items */

.header_items{
    font-family: "Century Gothic";
    display: flex;
    margin: 0 8%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

/* Header > items > menu  */

.menu_items{
    margin: 0;
    padding-left: 0;
}

.nav_a{
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    position: relative;
}

.nav_a:hover{
    text-decoration: none;
    border-bottom: 1px solid #333;
    transition: 2s;
}


/* header > items > buttons  */

.button_img{
    height: 20px;
    width: 20px;
}
.menu_button{
    height: 40px;
    border: none;
    margin: 0 5px;
    width: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.28);
}
.menu_button:active{
    border: none;
    outline: none;
}

/* Dostavka  */

.dostavka{
    width: 100%;
    background: url("dostavka.png");
    background-size: cover;
    margin-top: 2%;

}

.blacked{

    background: rgba(0, 0, 0, 0.3);
    padding: 5% 0;
}
.titleblock{
    text-align: center;
}
.title{
    font-family: "Century Gothic";
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 30pt;
}

.dstvk_title{
    padding-top: 1.5%;
}
.dstvk_stitle{
    margin: 0;
    font-size: 16pt;
}

/* dostavka content  */

.dst_info{
    margin: 0 7%;
}

.paragraph{
    font-family: "Century Gothic";
    font-size: 14pt;
    color: white;
}

.spanblock{
    display: block;
}

.spanmargin{
    margin-top: 1%;
}

.whiteline{
    width: 30%;
    height: 2px;
    background: white;
    margin: 2% auto;
}

/* scroll img  */

.podjem{
    width: 100%;
    background: url("podjem.png");
    background-size: cover;
    margin-top: 2%;

}

.pod_blacked{
    padding: 5% 0;
}

.scrollblock{
    margin: 4% 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll{
    height: 64px;
    width: 64px;
}


/* dosatvka region  */
.dostavkaregion{
    margin-top: 2%;
}
.title_dstrg{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.dstrg{
    color: #333;
    margin: 0 1%;
    font-size: 24pt;
}
.linedstrg{
    width: 300px;
}

.rg_dst{
    margin-top: 2%;
    text-align: center;
    width: 100%;
    margin: 0 auto;

    color: #333;
}

.pblack{
    color:#333;
}

.linefoot{
    margin: 1% auto 3% auto;
}


/* footer  */
.footer{
    width: 100%;
    height: 100px;
    background: #333;
}